@import "../../assets/styles/colors.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
  h2 {
    margin-bottom: 1rem;
    color: #4e4e4e;
    font-size: 1.75rem;
  }
  .subtitle {
    margin-bottom: 6rem;
  }
  h3 {
    color: #4e4e4e;
  }
}
// .features_row {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 3rem;
//   max-width: 1200px;
// }
.feature_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // color: white;
  // padding: 3rem 5rem;
  padding: 3rem 2rem;
  // padding-bottom: 5rem;
  box-sizing: border-box;
  text-align: center;
  // // width: 100%;
  &:nth-child(odd) {
    background-color: #f7fcff;
  }
  i {
    font-size: 2.5rem;
    color: $blue_primary;
  }
  .description {
    font-weight: 400;
  }
  .skill_list {
    // margin: 2rem;
    // margin-left: 4rem;
    margin-top: 1rem;
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // text-align: center;
    // justify-items: center;

    .list_item {
      // display: flex;
      // flex: 1;
      // align-items: center;
      display: flex;
      align-items: center;
      // margin: 0.5rem 0;
      // text-align: left;
      padding: 0.25rem 0;
      // span {
      //   position: relative;
      //   display: inline-block;
      // }
    }
    .dot {
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: rgb(137, 208, 255);
      margin-right: 0.75rem;
    }
    // span::before {
    //   left: -15px;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   content: "";
    //   // content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    //   // display: flex; /* Needed to add space between the bullet and the text */
    //   // align-items: center;
    //   // justify-content: center;
    //   // margin-left: 0; /* Also needed for space (tweak if needed) */
    //   // font-size: 1.5rem;
    // }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    background-color: #f7fcff;
  }
  .feature_item {
    max-width: 400px;
    padding: 5rem 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .feature_item {
    padding: 5rem 3rem;
  }
}
