@use "src/assets/styles/colors.scss";
@use "src/assets/styles/mixins.scss";
.container {
  background-color: #3d84cc;
  color: white;
  padding: 2rem;
}
.xp_list {
  padding-left: 1.5rem;
}
.xp_item {
  margin: auto;
  margin-bottom: 1rem;
  max-width: 400px;
  .company {
    opacity: 0.75;
  }
  .position {
    font-weight: 700;
  }
  .info {
    position: relative;
  }
  .info::before {
    @include mixins.list-dot(rgba(255, 255, 255, 0.486));
  }
}
