@import "../../assets/styles/colors.scss";
$element_height_sm: 107px;
$element_width_sm: 160px;
$element_height_lg: 170px;
$element_width_lg: 260px;
.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.elements {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(2, $element_width_sm);
}
.element {
  // background-color: #95b9fd;
  height: $element_height_sm;
  position: relative;
  display: block;
  border-radius: 5px;
  &:hover {
    .overlay {
      opacity: 1;
      height: 100%;
    }
  }
  .overlay {
    background-color: $blue_primary;
    opacity: 0;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    position: absolute;
    height: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    // transform: scale(0);
    transition: ease 0.35s;
    overflow: hidden;
    box-sizing: border-box;
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
}
// @media only screen and (min-width: 640px) {
//   .elements {
//     grid-template-columns: repeat(2, 260px);
//   }
// }
@media only screen and (min-width: 640px) {
  .elements {
    grid-template-columns: repeat(2, $element_width_lg);
    gap: 1rem;
  }
  .element {
    height: $element_height_lg;
  }
}
@media only screen and (min-width: 1024px) {
  .elements {
    grid-template-columns: repeat(3, $element_width_lg);
  }
}
