.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}
.logo {
  color: #4e4e4e;
  font-size: 1.5rem;
  font-weight: 600;
}
.open {
  font-size: 1.5rem;
  cursor: pointer;
}
.list_desktop {
  display: none;
}
.contact {
  font-size: 0.75rem;
  background-color: #36aaff;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  color: white;
  &:hover {
    border-bottom: 2px solid transparent;
  }
}
.mobile_nav_container {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #36aaff;
  overflow-x: hidden;
  transition: 0.3s ease;

  .close {
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
  .list_mobile {
    position: relative;
    top: 20%;
    display: block;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 1rem;
      a {
        color: white;
        font-size: 1.75rem;
        font-weight: 600;
      }
    }
  }
}
.mobile_nav_container_opened {
  width: 100%;
}
@media only screen and (min-width: 640px) {
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
  a {
    color: #4e4e4e;
    text-decoration: none;
  }
  .logo {
    font-size: 2rem;
  }
  .contact_mobile {
    display: none;
  }
  .open {
    display: none;
  }

  .list_desktop {
    display: flex;
    margin: 0;
    li {
      a {
        margin: 0 1.75rem;
        padding: 0.5rem 0;
        border: 2px solid transparent;
        display: block;
        &:hover {
          border-bottom: 2px solid #36aaff;
        }
        &.contact {
          background-color: #36aaff;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          margin-right: 0;
          color: white;
          &:hover {
            border-bottom: 2px solid transparent;
          }
        }
      }
    }
  }
}
